{% autoescape false %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Singh Blog</title>
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/assets/css/bootstraps.min.css" />
			
	</head>
	<body>
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<a class="brand" href="/">Blog App</a>
					<ul class="nav">
						<label class="active"><a href="/">Home&nbsp;&nbsp;&nbsp;</a></label>
						<label ><a href="/all_posts">All&nbsp;Posts&nbsp;&nbsp;&nbsp;</a></label>
						<label ><a href="/about">About&nbsp;&nbsp;&nbsp;</a></label>
						<label ><a href="/write_upper_model">Write&nbsp;&nbsp;&nbsp;</a></label>

						<label align="right" ><a href="{{ url|safe }}">{{ url_linktext }}</a> </label>
						<label align="right" ><a href="/login"></a><label>
					</ul>	
			</div>
		</div>
	    <div class="hero-unit">
			<h1><p> Welcome to my blog </p></h1>
		</div>
   		<div class="posts">
			<h2> Users of this Blog</h2>
				<hr />
				{% for post in posts %}
				<ul>
					<li><h3> {{ post.blog_name }} by {{ post.user_id}} </h3>
						<p> <a href="{{ post.blog_id }}"> {{ post.blog_id }} </a></p> 
						<p>		
					</li>
					<hr />
				</ul>
				{%endfor%}

				{% if flag == True %}
				{% set page = page|int + 1  %}
				<a href="/?page={{page}}">Next</a>
				{% endif %}
				
				<h2> Popular Tags </h2>
				{% for post in number_of_tags %}
				
					{% for tag in post.tag %}
					<a href="searchbytag?tag={{tag}}">&nbsp;&nbsp;{{tag}}</a> {% endfor %}
					{% endfor %}
				</br>
				</br>
					
		</div>	
	</body>	
</html>
{% endautoescape %}